{:kotoba.app/id "cloud.itonami.isic-2823", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicyo6g4rktkcu3h4vy5ehbtctorj2mgfvsqzsmpmx2iqvrojbt3am", :kotoba.app/embed-url "ipfs://bafkreicyo6g4rktkcu3h4vy5ehbtctorj2mgfvsqzsmpmx2iqvrojbt3am", :published {:archive "https://kotobase.net/ipfs/bafkreicyo6g4rktkcu3h4vy5ehbtctorj2mgfvsqzsmpmx2iqvrojbt3am", :size 72730, :put-status 201, :get-status 200, :at "2026-08-15T14:02:23.036Z"}}
